@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}
/* 


*/

/* width */
/* ::-webkit-scrollbar {
    width: 2px;
    height: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: transparent;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #88888888;
    border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #888888c9;
} */